mixin news-item(data)
	a.grid-item(href= data.link class=`${data.classList ? data.classList : ''}`)
		.grid-item__bg(style=`background-color: ${data.background ? data.background : 'none'}; opacity: ${data.opacity ? data.opacity : 1}`)
			if data.src
				img(src= data.src srcset= data.srcset)
		.grid-item__content
			.grid-item__topside
				if data.label
					.grid-item__meta.grid-item__label!= data.label
				if data.date
					.grid-item__meta.grid-item__date!= data.date
			.grid-item__bottomside
				p.grid-item__title!= data.title
				if data.text
					p.grid-item__text!= data.text
